.note-list-widget {
    min-height: 0;
    max-width: var(--max-content-width); /* Inherited from .note-split */
 
    overflow: auto;
    contain: none !important;
}

body.prefers-centered-content .note-list-widget:not(.full-height) {
    /* Horizontally center the widget in its parent when the "Keep content centered" option is on */
    margin-inline: auto;
}

.note-list-widget .note-list {
    padding-block: 10px;
}

.note-list-widget.full-height,
.note-list-widget.full-height .note-list-widget-content {
    height: 100%;
}

.note-list-widget video {
    height: 100%;
}

/* #region Pagination */
.note-list-pager span.current-page {
    text-decoration: underline;
    font-weight: bold;
}
/* #endregion */