.component.inline-title {
    contain: none;
}

.inline-title {
    padding-bottom: 2em;
    padding-inline-start: 24px;

    & > .inline-title-row {
        display: flex;
        align-items: center;
    }

    &.hidden {
        display: none !important;
    }

    .note-icon-widget {
        padding: 0;
    }
}

.note-split.type-code:not(.mime-text-x-sqlite) .inline-title {
    background-color: var(--main-background-color);
}

body.prefers-centered-content .inline-title {
    margin-inline: auto;
}

.title-details {
    margin-top: 0;
    display: flex;
    gap: 0.25em;
    margin: 0;
    list-style-type: none;
    color: var(--muted-text-color);

    span.value {
        font-weight: 500;
    }
}

.note-type-switcher {
    padding: 1em 0;
    display: flex;
    overflow-x: auto;
    min-width: 0;
    gap: 5px;
    --badge-radius: 12px;

    .ext-badge {
        --color: var(--input-background-color);
        color: var(--main-text-color);
        flex-shrink: 0;
        font-size: 0.9rem;
    }
}
