.component.inline-title-row {
    contain: none;
    padding-bottom: 2em;
    padding-inline-start: 24px;
    display: flex;
    align-items: center;

    .note-icon-widget {
        padding: 0;
    }
}
