:root {
    --title-transition: opacity 200ms ease-in;
}

.component.inline-title {
    contain: none;
}

.inline-title {
    margin-top: 2px; /* Allow space for the focus outline */
    max-width: var(--max-content-width);
    container-type: inline-size;
    padding-inline-start: 24px;

    & > .inline-title-row {
        --icon-size: 35px;
        --icon-padding-size: 10px;
        --title-size: 1.8em;

        display: flex;
        align-items: center;
        gap: 16px;
        transition: var(--title-transition);

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        .note-icon-widget {
            --note-icon-size: 35px;
            --note-icon-container-padding-size: 10px;
        }

        .note-title-caption {
            flex-grow: 1;
        }

        .note-title-widget {
            --note-title-size: 1.8em;
            --note-title-padding-inline: 0;
        }

        @container (max-width: 500px) {
            .note-icon-widget {
                --note-icon-size: 25px;
                --note-icon-container-padding-size: 6px;
            }

            .note-title-widget {
                --note-title-size: 1.5em;
            }

            .title-details {
                display: none;
            }
        }
    }

    &.hidden {
        display: none;
    }

}

.title-row {
    &.note-icon-widget,
    &.note-title-widget {
        transition: var(--title-transition);
    }

    &.hide-title .note-icon-widget,
    &.hide-title .note-title-widget {
        opacity: 0;
        pointer-events: none;
    }
}

.note-split.type-code:not(.mime-text-x-sqlite) .inline-title {
    background-color: var(--main-background-color);
}

body.prefers-centered-content .inline-title {
    margin-inline: auto;
}

.title-details {
    display: flex;
    gap: 0.25em;
    margin: 0;
    margin-top: .2rem;
    list-style-type: none;
    opacity: .5;
    flex-wrap: wrap;
    font-size: .85rem;
    line-height: 1;
    flex-wrap: nowrap;
    white-space: nowrap;

    span.value {
        font-weight: 500;
    }
}

.note-type-switcher {
    position: relative;
    top: 5px;
    padding: .25em 0;
    display: flex;
    align-items: center;
    overflow-x: auto;
    min-width: 0;
    gap: 5px;
    min-height: 35px;
    --badge-radius: 12px;

    >* {
        flex-shrink: 0;
    }

    .ext-badge {
        --color: var(--input-background-color);
        color: var(--main-text-color);
        font-size: 0.9rem;
        flex-shrink: 0;
    }
}

.edited-notes {
    padding: 1.5em 0;

    .collapsible-inner-body {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3em;

        .badge {
            margin: 0;
            a.tn-link {
                color: inherit;
                text-transform: none;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}
