.component.inline-title {
    contain: none;
}

.inline-title {
    padding-bottom: 2em;
    padding-inline-start: 24px;

    & > .inline-title-row {
        display: flex;
        align-items: center;
    }

    &.hidden {
        display: none !important;
    }

    .note-icon-widget {
        padding: 0;
    }
}
