.component.inline-title {
    contain: none;
}

.inline-title {
    padding-bottom: 2em;
    padding-inline-start: 24px;

    & > .inline-title-row {
        display: flex;
        align-items: center;
    }

    &.hidden {
        display: none !important;
    }

    .note-icon-widget {
        padding: 0;
    }
}

body.prefers-centered-content .inline-title {
    margin-inline: auto;
}

.title-details {
    margin-top: 0;
    display: flex;
    gap: 0.25em;
    margin: 0;
    list-style-type: none;

    span.value {
        font-weight: 500;
    }
}
