body.experimental-feature-new-layout {
    .component.title-actions {
        contain: none;
    }

    .title-actions {
        max-width: var(--max-content-width);
        padding: 0;
        padding-inline-start: 24px;
        padding-inline-end: 16px;
        display: flex;
        gap: 0.25em;
        align-items: center;

        .dropdown-menu {
            input.form-control {
                padding: 2px 8px;
                margin-left: 1em;
            }
        }

        .spacer {
            flex-grow: 1;
        }
    }
}
