body.experimental-feature-new-layout {
    .component.title-actions {
        contain: none;
    }

    .title-actions {
        --title-actions-padding-start: 12px;
        --title-actions-padding-end: 8px;

        display: flex;
        max-width: var(--max-content-width);
        flex-direction: column;
        gap: 0.5em;
        padding-inline: var(--title-actions-padding-start) var(--title-actions-padding-end);

        body.prefers-centered-content .note-split:not(.full-content-width) & {
            margin-inline: auto;
        }

        &:not(:empty) {
            padding-block: 0.75em;
        }

        .edited-notes {
            .collapsible-inner-body {
                display: flex;
                flex-wrap: wrap;
                gap: 0.3em;

                .badge {
                    margin: 0;
                    color: inherit;
                    text-transform: none;
                    text-decoration: none;
                    display: inline-block;
                    transition: background-color 250ms ease-in, color 250ms ease-in;

                    &:hover {
                        background-color: var(--link-hover-background);
                        color: var(--link-hover-color);
                    }
                }
            }
        }

        .promoted-attributes-widget {
            .promoted-attributes-container {
                margin: 0;
                padding: 0;
            }
        }

        > .collapsible,
        > .note-type-switcher {
            padding-inline-start: calc(24px - var(--title-actions-padding-start));
            padding-inline-end: calc(24px - var(--title-actions-padding-end));
        }
    }
}
