body.experimental-feature-new-layout {
    .component.title-actions {
        contain: none;
    }

    .title-actions {
        padding-inline-start: 15px;
        padding-top: 1em;
        padding-bottom: 0.2em;
    }
}
