body.experimental-feature-new-layout {
    .component.title-actions {
        contain: none;
    }

    .title-actions {
        &.visible:not(:empty) {
            padding: 0.75em 15px;
        }
    }
}
