body.experimental-feature-new-layout {
    .component.title-actions {
        contain: none;
    }

    .title-actions {
        display: flex;
        flex-direction: column;
        gap: 1em;

        &:not(:empty) {
            padding: 0.75em 15px;
        }

        .edited-notes {
            .collapsible-inner-body {
                display: flex;
                flex-wrap: wrap;
                gap: 0.3em;

                .badge {
                    margin: 0;
                    a.tn-link {
                        color: inherit;
                        text-transform: none;
                        text-decoration: none;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
