.component.status-bar {
    contain: none;
    border-top: 1px solid var(--main-border-color);
    background-color: var(--left-pane-background-color);
    display: flex;
    align-items: center;
    padding-inline: 0.25em;

    > .breadcrumb-row {
        flex-grow: 1;
    }

    > .actions-row {
        padding: 0.1em;
        display: flex;
        gap: 0.1em;

        .status-bar-dropdown-button {
            background: transparent;
            padding: 0 0.5em !important;
            display: flex;
            align-items: center;

            &:after {
                content: unset;
            }

            &:focus,
            &:hover {
                background: var(--input-background-color);
            }
        }
    }

    .dropdown {
        font-size: 0.85em;

        .dropdown-toggle {
            padding: 0.1em 0.25em;
        }
    }

    .dropdown-note-info {
        width: max-content;

        ul {
            list-style-type: none;
            padding: 0.5em;
            margin: 0;
            display: table;

            li {
                display: table-row;

                > strong {
                    display: table-cell;
                    padding: 0.2em 0;
                }

                > span {
                    display: table-cell;
                    user-select: text;
                    padding-left: 2em;
                }
            }
        }
    }
}
