.component.status-bar {
    contain: none;
    border-top: 1px solid var(--status-bar-border-color);

    > .status-bar-main-row {
        min-height: 28px;
        display: flex;
        align-items: center;
        background-color: var(--left-pane-background-color);
        padding-inline: 0.25em;
        font-size: 0.85em;

        > .breadcrumb {
            flex-grow: 1;
            --icon-button-size: 23px;
        }

        > .actions-row {
            padding: 0.1em;
            display: flex;
            gap: 0.1em;

            .btn {
                padding: 0 0.5em !important;
                background: transparent;
                display: flex;
                align-items: center;
                border: 0;

                span:first-of-type {
                    font-size: 1rem;
                }

                &.active,
                &.dropdown-toggle.show,
                &:focus,
                &:hover {
                    background: var(--input-background-color);
                }
            }

            .status-bar-dropdown-button {
                &:after {
                    content: unset;
                }
            }
        }

        .dropdown {
            .dropdown-toggle {
                padding: 0.1em 0.25em;
            }

            .dropdown-menu {
                width: max-content;
            }
        }

        .dropdown-note-info {
            padding: 1em !important;

            ul {
                --row-block-margin: .2em;

                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-top: calc(0px - var(--row-block-margin));
                margin-bottom: 12px;
                display: table;

                li {
                    display: table-row;

                    > strong {
                        display: table-cell;
                        padding: var(--row-block-margin) 0;
                        opacity: .5;
                    }

                    > span {
                        display: table-cell;
                        user-select: text;
                        padding-left: 2em;
                    }
                }
            }
        }

        .dropdown-note-paths {
            .note-paths-widget {
                padding: 0.5em;
            }

            .note-path-intro {
                color: var(--muted-text-color);
            }

            .note-path-list {
                margin: 12px 0;
                padding: 0;
                list-style: none;

                /* Note path card */
                li {
                    --border-radius: 6px;

                    position: relative;
                    background: var(--card-background-color);
                    padding: 8px 20px 8px 25px;

                    &:first-child {
                        border-radius: var(--border-radius) var(--border-radius) 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 var(--border-radius) var(--border-radius);
                    }

                    & + li {
                        margin-top: 2px;
                    }

                    /* Current path arrow */
                    &.path-current::before {
                        position: absolute;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        content: "\ee8f";
                        top: 0;
                        left: 0;
                        width: 20px;
                        bottom: 0;
                        font-family: "boxicons";
                        font-size: .75em;
                        color: var(--menu-item-icon-color);
                    }
                }

                /* Note path segment */
                a {
                    margin-inline: 2px;
                    padding-inline: 2px;
                    color: currentColor;
                    font-weight: normal;
                    text-decoration: none;

                    /* The last segment of the note path */
                    &.basename {
                        color: var(--muted-text-color);
                    }
                }

            }
        }

        .backlinks-widget > .dropdown-menu {
            --menu-padding-size: .9em;

            max-height: 60vh;
            overflow-y: scroll;

            /* Backlink card */
            li {
                --border-radius: 8px;

                max-width: 600px;
                padding: 10px 20px;
                background: var(--card-background-color);

                & + li {
                    margin-top: 2px;
                }

                &:first-child {
                    border-radius: var(--border-radius) var(--border-radius) 0 0;
                }

                &:last-child {
                    border-radius: 0 0 var(--border-radius) var(--border-radius);
                }

                /* Card header */
                & > span:first-child {
                    display: block;

                    > span {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        /* Note path */
                        > small {
                            flex: 100%;
                            order: -1;
                            font-size: .65rem;

                            .note-path {
                                padding: 0;
                            }
                        }

                        /* Note icon */
                        > .tn-icon {
                            color: var(--menu-item-icon-color);
                        }

                        /* Note title */
                        > a {
                            margin-inline-start: 4px;
                            color: currentColor;
                            font-weight: 500;
                        }
                    }
                }

                /* Card content - excerpt */
                & > span:nth-child(2) > div {
                    all: unset; /* TODO: Remove after disposing the old style from FloatingButtons.css */
                    display: block;

                    margin: 8px 0;
                    border-radius: 4px;
                    background: var(--quick-search-result-content-background);
                    padding: 8px;
                    font-size: .75rem;

                    a {
                        background: transparent;
                        color: var(--quick-search-result-highlight-color);
                        text-decoration: underline;
                    }

                    p {
                       margin: 0;
                    }
                }

            }
        }
    }

    > .attribute-list {
        font-size: 0.9em;

        .attributes-panel-label {
            opacity: .5;
            margin-inline-end: 4px;
            font-weight: 600;
        }

        .inherited-attributes-widget {
            display: inline;

            > div {
                display: inline;
                padding: 0;
            }
         }

         .attribute-list-editor-wrapper {
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 0 !important;

            .attribute-list-editor {
                padding-block: 0 !important;
                padding-inline: 0 100px !important ;
            }

            .attribute-errors {
                padding: 4px 0;
                color: var(--dropdown-item-icon-destructive-color);
                font-style: italic;
            }

            .ck.ck-editor__editable::after {
                /* Remove a hidden spinner that causes overflow */
                display: none;
            }
         }


    }

    div.similar-notes-widget div.similar-notes-wrapper {
        max-height: unset;
    }

    button.select-button:not(:focus-visible) {
        outline: none;
    }

}

.bottom-panel {
    margin: 0 !important;
    padding: 0;

    body.layout-horizontal.background-effects & {
        /* Do not apply Mica over the bottom panel in the horizontal layout */
        background: var(--right-pane-background-color);
    }

    .bottom-panel-title-bar {
        display: flex;
        padding: 6px 12px;
        background: var(--bottom-panel-title-bar-background-color);
        justify-content: space-between;
        align-items: center;

        .bottom-panel-title-bar-caption {
            text-transform: uppercase;
            letter-spacing: .3pt;
            font-weight: 600;
            font-size: .85em;
        }
    }

    .bottom-panel-content {
        border-bottom: 1px solid var(--main-border-color);
        background: var(--bottom-panel-background-color);
        padding: 8px 12px;
        max-height: 40vh;
        overflow-y: auto;
        animation: fade-in 200ms ease-in;
    }
}

