.component.status-bar {
    contain: none;
    border-top: 1px solid var(--main-border-color);
    background-color: var(--left-pane-background-color);

    > .status-bar-main-row {
        min-height: 32px;
        display: flex;
        align-items: center;
        padding-inline: 0.25em;

        > .breadcrumb {
            flex-grow: 1;
        }

        > .actions-row {
            padding: 0.1em;
            display: flex;
            gap: 0.1em;
            font-size: 0.85em;

            .btn {
                padding: 0 0.5em !important;
                background: transparent;
                display: flex;
                align-items: center;
                border: 0;

                &.active,
                &:focus,
                &:hover {
                    background: var(--input-background-color);
                }
            }

            .status-bar-dropdown-button {
                &:after {
                    content: unset;
                }
            }
        }

        .dropdown {
            .dropdown-toggle {
                padding: 0.1em 0.25em;
            }
        }

        .dropdown-note-info {
            width: max-content;

            ul {
                list-style-type: none;
                padding: 0.5em;
                margin: 0;
                display: table;

                li {
                    display: table-row;

                    > strong {
                        display: table-cell;
                        padding: 0.2em 0;
                    }

                    > span {
                        display: table-cell;
                        user-select: text;
                        padding-left: 2em;
                    }
                }
            }
        }
    }

    > .attribute-list {
        font-size: 0.9em;
        padding: 0.5em 0.75em;

        .inherited-attributes-widget > div {
            padding: 0;
            font-size: 0.9em;
        }

        .attribute-list-editor {
            padding: 0 !important;
        }
    }

}
