package-lock.json linguist-generated=true
**/package-lock.json linguist-generated=true

apps/server/src/assets/doc_notes/en/User[[:space:]]Guide/** linguist-generated=true 
apps/server/src/assets/doc_notes/en/User[[:space:]]Guide/**/*.html eol=lf

docs/**/*.md eol=lf
docs/**/*.json eol=lf

demo/**/*.html eol=lf
demo/**/*.json eol=lf
demo/**/*.svg eol=lf
demo/**/*.txt eol=lf
demo/**/*.js eol=lf
demo/**/*.css eol=lf

apps/client/src/libraries/** linguist-vendored