.collapsible {
    .collapsible-title {
        line-height: 1em;
        display: flex;
        align-items: center;

        .arrow {
            font-size: 1.3em;
            transition: transform 250ms ease-in;
        }
    }

    .collapsible-body {
        height: 0;
        overflow: hidden;
        transition: height 250ms ease-in;
    }

    .collapsible-inner-body {
        padding-top: 0.5em;
    }

    &.expanded {
        .collapsible-title .arrow {
            transform: rotate(90deg);
        }
    }
}
