.dropdown-item {
    .description {
        font-size: small;
        color: var(--muted-text-color);
        white-space: normal;
    }

    span.bx {
        flex-shrink: 0;
    }

    .switch-widget {
        flex-grow: 1;
        width: 100%;
        --switch-track-width: 40px;
        --switch-track-height: 20px;
        --switch-thumb-width: 12px;
        --switch-thumb-height: var(--switch-thumb-width);

        .switch-name {
            flex-grow: 1;
        }
    }
}
