@import url(./forms.css);
@import url(./shell.css);
@import url(./ribbon.css);
@import url(./settings.css);
@import url(./notes/empty.css);
@import url(./notes/text.css);

@font-face {
    font-family: "Inter";
    src: url(../../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --main-font-family: "Inter", sans-serif;

    --main-font-size: normal;

    --tree-font-family: var(--main-font-family);
    --tree-font-size: normal;

    --detail-font-family: var(--main-font-family);
    --detail-font-size: normal;

    --monospace-font-family: JetBrainsLight;
    --monospace-font-size: normal;

    --left-pane-item-selected-shadow-size: 2px;

    --launcher-pane-size: 58px;
    --launcher-pane-horizontal-size: 54px;
    --launcher-pane-horizontal-icon-size: 20px;
    --launcher-pane-button-margin: 6px;
    --launcher-pane-button-gap: 3px;

    --tree-actions-toolbar-horizontal-margin: 8px;
    --tree-actions-toolbar-vertical-margin: 8px;
    --tree-actions-toolbar-padding-size: 4px;
    --tree-actions-toolbar-collapsed-width: 40px;
    --tree-actions-toolbar-expand-button-size: 25px;

    --tab-bar-height: 50px;
    --tab-height: 36px;
    --tab-first-item-horiz-offset: 1px;
    --new-tab-button-size: 24px;

    --center-pane-border-radius: 10px;

    --menu-padding-size: 8px;
    --menu-item-icon-vert-offset: -2px;

    --more-accented-background-color: var(--card-background-hover-color);

    --timeline-left-gap: 20px;
    --timeline-right-gap: 20px;
    --timeline-item-top-padding: 4px;
    --timeline-item-bottom-padding: 8px;
    --timeline-bullet-size: 10px;
    --timeline-bullet-vertical-pos: 0.75em;
    --timeline-connector-size: 4px;

    --help-backdrop-blur: 10px;

    --icon-button-size: 32px;
    --icon-button-icon-ratio: 0.65;

    --modal-control-button-size: 22px;

    /* Theme capabilities */
    --tab-note-icons: true;
}

/* Tool dialogs - small dialogs without a backdrop */
div.tn-tool-dialog {
    border-radius: 10px;
    background: var(--tool-dialog-background-color) !important;
    user-select: none;
    box-shadow: 10px 10px 93px -25px var(--tool-dialog-shadow-color);
}

/*
 * Note search suggestions
 */

/* List body */
.jump-to-note-dialog .jump-to-note-results .aa-suggestions,
.note-detail-empty .aa-suggestions {
    padding: 0;
}

/* List item */
.jump-to-note-dialog .aa-suggestions div,
.note-detail-empty .aa-suggestions div {
    border-radius: 6px;
    padding: 6px 12px;
    color: var(--menu-text-color);
    cursor: default;
}

/* Selected list item */
.jump-to-note-dialog .aa-suggestions div.aa-cursor,
.note-detail-empty .aa-suggestions div.aa-cursor {
    background: var(--hover-item-background-color);
    color: var(--hover-item-text-color);
}

/*
 * Toasts
 */

:root {
    --toast-background: #00000099;
    --toast-text-color: white;
    --toast-close-button-background: #ffffff33;
}

#toast-container {
    /* The vertical gap between toasts */
    gap: 10px;
}

#toast-container .toast {
    --bs-toast-padding-x: 12px;
    --bs-border-radius: 8px;
    --bs-toast-bg: var(--toast-background);
    --bs-toast-color: var(--toast-text-color);
    --modal-control-button-background: var(--toast-close-button-background);
    --modal-control-button-color: var(--bs-toast-color);

    display: flex;
    flex-direction: row-reverse;
    backdrop-filter: blur(6px);
}

#toast-container .toast .toast-header {
    padding: 0 !important;
    background: transparent !important;
    border-bottom: none;
}

#toast-container .toast .toast-header strong {
    /* The title of the toast is no longer displayed */
    display: none;
}

#toast-container .toast .toast-header .btn-close {
    margin: 0 var(--bs-toast-padding-x) 0 12px;

}

#toast-container .toast .toast-body {
    flex-grow: 1;
}