/*
 * Promoted attributes
 */

div.promoted-attributes-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
 * Basic properties
 */

/* Note type dropdown */

div.note-type-dropdown .check {
    margin-right: 6px;
}

 /* Editability dropdown */

div.editability-dropdown a.dropdown-item {
    padding: 4px 16px 4px 0;
    align-items: start !important;
}

.editability-dropdown .dropdown-item .check {
    margin-left: 4px;
}

.editability-dropdown .dropdown-item .description {
    opacity: .75;
    font-size: .85em;
}

/*
 * Owned attributes
 */

.attribute-list .add-new-attribute-button,
.attribute-list .save-attributes-button  {
    bottom: .3em;
}

.attribute-list .save-attributes-button {
    right: 30px;
}

/* Note path in attribute detail dialog */
.attr-detail .note-path {
    margin-left: 8px;
}

/*
 * Similar notes
 */

:root .similar-notes-widget a {
    color: var(--cmd-button-text-color);
    background: var(--cmd-button-background-color);
}

:root .similar-notes-widget a:hover {
    color: var(--cmd-button-hover-text-color);
    background: var(--cmd-button-hover-background-color);
}

/* 
 * Note info
 */

.note-info-widget-table th {
    opacity: .65;
    font-weight: 500;
}

:root .note-info-widget-table button.calculate-button {
    min-width: 0;
    padding: 4px 10px !important;
    font-size: .8em;
}