@container info-section (max-width: 800px) {
    table, tbody, tr, td, th {
        display: block;
        padding: 0 !important;
    }

    tbody {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    tr {
        flex-grow: 1;
    }

    tr:has(.file-buttons) {
        width: 100%;
    }

    th {
        font-size: .85em;
    }

    td {
        margin-bottom: .5em;
    }
}

/*
 * Promoted attributes
 */

div.promoted-attributes-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
 * File Properties
 */

.file-properties-widget {
    container: info-section / inline-size;
}

.file-properties-widget .file-table {
    margin: 12px;
    width: unset;
}

.file-properties-widget .file-buttons {
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
}

.file-properties-widget .file-buttons button {
    white-space: nowrap;
}

/*
 * Basic properties
 */

/* Note type dropdown */

div.note-type-dropdown .check {
    margin-right: 6px;
}

/* Editability dropdown */

div.editability-dropdown a.dropdown-item {
    padding: 4px 16px 4px 0;
    align-items: start !important;
}

.editability-dropdown .dropdown-item .check {
    margin-left: 4px;
}

.editability-dropdown .dropdown-item .description {
    opacity: 0.75;
    font-size: 0.85em;
}

/*
 * Owned attributes
 */

.attribute-list .add-new-attribute-button,
.attribute-list .save-attributes-button {
    bottom: 0.3em;
}

.attribute-list .save-attributes-button {
    right: 30px;
}

/* Note path in attribute detail dialog */
.attr-detail .note-path {
    margin-left: 8px;
}

/*
 * Similar notes
 */

:root .similar-notes-widget a {
    color: var(--cmd-button-text-color);
    background: var(--cmd-button-background-color);
}

:root .similar-notes-widget a:hover {
    color: var(--cmd-button-hover-text-color);
    background: var(--cmd-button-hover-background-color);
}

/* 
 * Note info
 */

.note-info-widget-table th,
.file-properties-widget .file-table th {
    opacity: 0.65;
    font-weight: 500;
}

:root .note-info-widget-table button.calculate-button {
    min-width: 0;
    padding: 4px 10px !important;
    font-size: 0.8em;
}

/* Narrow width layout */
.note-info-widget {
    container: info-section / inline-size;
}

/*
 * Attribute detail dialog
 */

/* Labels */
.attr-edit-table th {
    padding-right: 12px;
    font-weight: normal;
    white-space: nowrap;
}
