/*
 * Settings
 */
:root {
    --options-card-padding: 17px;
    --options-title-font-size: 1rem;
    --options-title-offset: 13px;
}

.options-section {
    border-radius: 12px;
    border: 1px solid var(--card-border-color) !important;
    box-shadow: var(--card-box-shadow);
    background: var(--card-background-color);
    padding: var(--options-card-padding);
    margin-bottom: calc(var(--options-title-offset) + 26px) !important;
}

.note-detail-content-widget-content.options {
    --default-padding: 15px;
    padding-top: calc(var(--default-padding) + var(--options-title-offset) + var(--options-title-font-size));
    padding-bottom: var(--default-padding);
}

.options-section h4 {
    font-size: var(--options-title-font-size);
    font-weight: bold;
    color: var(--launcher-pane-text-color);
    margin-top: calc(-1 * var(--options-card-padding) - var(--options-title-font-size) - var(--options-title-offset)) !important;
    margin-bottom: calc(var(--options-title-offset) + var(--options-card-padding)) !important;
    margin-left: calc(-1 * var(--options-card-padding));
}

.options-section h5 {
    font-size: var(--options-title-font-size);
    font-weight: bold;
    margin-top: 1em !important;
    margin-bottom: unset !important;
}

.options-section h5:first-of-type {
    margin-top: unset !important;
}

.options-section hr {
    margin-left: calc(var(--options-card-padding) * -1);
    margin-right: calc(var(--options-card-padding) * -1);
}

.options-section p:last-of-type:not(:first-of-type),
.options-section h4 + p:last-child,
.options-section .existing-anonymized-databases {
    margin-bottom: 0;
}

.options-section .options-mime-types {
    padding: 0;
    margin: 0;
}

.options-section .form-group {
    margin-bottom: 1em;
}

.options-section .form-group:last-child {
    margin-bottom: 0;
}

.options-section ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

/* Appeareance */

.main-font-size-input-group,
.tree-font-size-input-group,
.detail-font-size-input-group,
.monospace-font-size-input-group {
    width: fit-content;
}