.color-picker-menu-item {
    display: flex;
    gap: 10px;
}

.color-picker-menu-item > .color-cell {
    width: 13px;
    height: 13px;
    border-radius: 4px;
    background: transparent;
}

.color-picker-menu-item > .color-cell.disabled-color-cell {
    cursor: not-allowed;
}

.color-picker-menu-item > .color-cell.selected {
    outline: 2px solid royalblue;
}