:root {
    --note-color-picker-clear-color-cell-background: var(--primary-button-background-color);
    --note-color-picker-clear-color-cell-color: var(--main-background-color);
    --note-color-picker-clear-color-cell-selection-outline-color: var(--primary-button-border-color);
}

.note-color-picker {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.note-color-picker .color-cell {
    --color-picker-cell-size: 14px;

    width: var(--color-picker-cell-size);
    height: var(--color-picker-cell-size);
    border-radius: 4px;
    background-color: var(--color);
}

.note-color-picker .color-cell:not(.selected):hover {
    transform: scale(1.2);
}

.note-color-picker .color-cell.disabled-color-cell {
    cursor: not-allowed;
}

.note-color-picker .color-cell.selected {
    outline: 2px solid var(--outline-color, var(--color));
    outline-offset: 2px;
}

/*
 * RESET COLOR CELL
 */

.note-color-picker .color-cell-reset {
    --color: var(--note-color-picker-clear-color-cell-background);
    --outline-color: var(--note-color-picker-clear-color-cell-selection-outline-color);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-color-picker .color-cell-reset svg {
    width: var(--color-picker-cell-size);
    height: var(--color-picker-cell-size);
    fill: var(--note-color-picker-clear-color-cell-color);
}

/*
 * CUSTOM COLOR CELL
 */

 .note-color-picker .custom-color-cell::before {
    position: absolute;
    content: "\ed35";
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: calc(var(--color-picker-cell-size) * 1.3);
    justify-content: center;
    align-items: center;
    font-family: boxicons;
    font-size: 16px;
    color: var(--foreground);
}

.note-color-picker .custom-color-cell {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.note-color-picker .custom-color-cell.custom-color-cell-empty {
    background-image: url(./custom-color.png);
    background-size: cover;
    --foreground: transparent;
}