/* Import the Next theme base style */
@import url(./theme-next/base.css);

/*
 * Color scheme
 */
:root {

    /*
     * ⚠️ NOTICE: This theme is currently in the beta stage of development.
     * The names and purposes of these CSS variables are subject to frequent changes.
     */

    --theme-style: light;
    --native-titlebar-background: #ffffff00;
    --window-background-color-bgfx: transparent; /* When background effects enabled */

    --main-background-color: white;
    --main-text-color: black;
    --main-border-color: #dbdbdb;
    --subtle-border-color: rgba(0, 0, 0, 0.1);
    --dropdown-border-color: #ccc;
    --dropdown-shadow-opacity: 0.2;
    --dropdown-item-icon-destructive-color: #de4027;
    --contextual-help-icon-color: #004382;

    --accented-background-color: #f5f5f5;

    --tool-dialog-background-color: white;
    --tool-dialog-shadow-color: #00000070;

    --button-text-color: currentColor;

    --cmd-button-background-color: #0000000f;
    --cmd-button-text-color: #000000ad;
    --cmd-button-hover-background-color: #00000016;
    --cmd-button-hover-text-color: #000;
    --cmd-button-shadow-color: #00000040;
    --cmd-button-icon-color: black;
    --cmd-button-keyboard-shortcut-background: #00000017;
    --cmd-button-keyboard-shortcut-color: black;
    --cmd-button-disabled-opacity: 0.5;

    --button-group-active-button-background: #00000026;
    --button-group-active-button-text-color: black;

    --icon-button-color: currentColor;
    --icon-button-hover-background: var(--hover-item-background-color);
    --icon-button-hover-color: var(--hover-item-text-color);

    --muted-text-color: #666;

    --input-background-color: #00000012;
    --input-text-color: black;
    --input-placeholder-color: #06060682;
    --input-selection-background: gray;
    --input-selection-text-color: white;
    --input-hover-background: #00000020;
    --input-hover-color: black;
    --input-focus-outline-color: #00000063;
    --input-focus-background: #ffffff80;
    --input-focus-color: #000;

    --input-action-button-color: #575757;
    --input-action-button-hover: black;

    --radio-checkbox-background: #0000002e;
    --radio-checkbox-hover-background: #0000004f;
    --radio-checkbox-indicator-color: black;

    --select-focus-background: white;
    --select-focus-text-color: var(--input-text-color);
    --select-dropdown-text-color: var(--input-text-color);
    --select-arrow-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='transparent' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
    --select-group-heading-text-color: gray;

    --link-color: #0076af;
    --link-hover-background: #3c7fa017;
    --link-hover-color: var(--link-color);
    --link-selection-outline-color: #95c3d9db;

    --hover-item-text-color: black;
    --hover-item-background-color: #0000001a;
    --hover-item-border-color: transparent;

    --active-item-text-color: var(--left-pane-text-color);
    --active-item-background-color: #ddd;
    --active-item-border-color: transparent;

    --menu-text-color: #272727;
    --menu-background-color: #ffffffd9;
    --menu-background-color-no-backdrop: #fdfdfd;
    --menu-item-icon-color: #727272;
    --menu-item-disabled-opacity: 0.6;
    --menu-item-keyboard-shortcut-color: #666666a8;
    --menu-item-arrow-color: #00000080;
    --menu-item-delimiter-color: #00000030;
    --menu-item-group-header-color: #00000061;
    --menu-section-background-color: #00000006;

    --modal-backdrop-color: #7c7c7c;
    --modal-shadow-color: #00000033;
    --modal-border-color: #797979;
    --modal-background-color: white;
    --modal-title-color: gray;
    --modal-control-button-background: #0000001a;
    --modal-control-button-color: #737373;
    --modal-control-button-hover-color: white;
    --modal-control-button-hover-background: gray;
    --modal-close-button-hover-background: var(--tab-close-button-hover-background);
    --modal-footer-background: #00000008;
    --modal-footer-color: #00000085;

    --toast-background: #00000099;
    --toast-text-color: white;
    --toast-close-button-background: #ffffff33;

    --quick-search-background: #00000012;
    --quick-search-color: #06060682;
    --quick-search-hover-background: #00000020;
    --quick-search-focus-border: #00000029;
    --quick-search-focus-background: #ffffff80;
    --quick-search-focus-color: #000;
    --quick-search-result-content-background: #0000000f;
    --quick-search-result-highlight-color: #c65050;

    --left-pane-collapsed-border-color: #0000000d;
    --left-pane-background-color: #f2f2f2;
    --left-pane-text-color: #383838;
    --left-pane-item-hover-background: rgba(0, 0, 0, 0.032);
    --left-pane-item-selected-background: white;
    --left-pane-item-selected-color: black;
    --left-pane-item-selected-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    --left-pane-item-action-button-background: rgba(0, 0, 0, 0.11);
    --left-pane-item-action-button-color: var(--left-pane-text-color);
    --left-pane-item-action-button-hover-background: white;
    --left-pane-item-action-button-hover-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    --left-pane-item-selected-action-button-hover-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

    /* Deprecated: now local variables in #launcher, with the values dependent on the current layout. */
    --launcher-pane-background-color: unset;
    --launcher-pane-text-color: unset;

    --launcher-pane-vert-background-color: #e8e8e8;
    --launcher-pane-vert-text-color: #000000bd;
    --launcher-pane-vert-button-hover-color: black;
    --launcher-pane-vert-button-hover-background: white;
    --launcher-pane-vert-button-hover-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);
    --launcher-pane-vert-button-focus-outline-color: var(--input-focus-outline-color);
    --launcher-pane-vert-background-color-bgfx: #00000009; /* When background effects enabled */

    --launcher-pane-horiz-border-color: rgba(0, 0, 0, 0.1);
    --launcher-pane-horiz-background-color: #fafafa;
    --launcher-pane-horiz-button-hover-color: black;
    --launcher-pane-horiz-button-hover-background: var(--icon-button-hover-background);
    --launcher-pane-horiz-button-hover-shadow: unset;
    --launcher-pane-horiz-button-focus-outline-color: var(--input-focus-outline-color);
    --launcher-pane-horiz-background-color-bgfx: #ffffffb3; /* When background effects enabled */
    --launcher-pane-horiz-border-color-bgfx: #00000026; /* When background effects enabled */

    --global-menu-update-available-badge-background-color: #4fa450;
    --global-menu-update-available-badge-color: white;

    --protected-session-active-icon-color: #16b516;
    --sync-status-error-pulse-color: #ff5528;

    --classic-toolbar-vert-layout-background-color: #ffffffa1;
    --classic-toolbar-horiz-layout-background-color: var(--main-background-color);

    --center-pane-vert-layout-background-color-bgfx: #ffffff75;
    --center-pane-horiz-layout-background-color-bgfx: #ffffffd6;

    --right-pane-heading-color: gray;

    --root-background: var(--left-pane-background-color);

    --gutter-color: transparent;
    --gutter-hover-color: #bfbfbf;

    --tab-close-button-hover-background: #c95a5a;
    --tab-close-button-hover-color: white;

    --active-tab-background-color: white;
    --active-tab-hover-background-color: var(--active-tab-background-color);
    --active-tab-icon-color: gray;
    --active-tab-text-color: black;
    --active-tab-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.05);
    --active-tab-dragging-shadow: var(--active-tab-shadow), 0 0 20px rgba(0, 0, 0, 0.1);

    --inactive-tab-background-color: transparent;
    --inactive-tab-hover-background-color: #00000016;
    --inactive-tab-text-color: #4e4e4e;

    --alert-bar-background: #f9cf2b29;

    --badge-background-color: #00000011;
    --badge-text-color: var(--muted-text-color);

    --badge-temporaraily-editable-background-color: #35a64c;
    --badge-read-only-background-color: #c8302c;
    --badge-share-background-color: #6b6b6b;
    --badge-clipped-note-background-color: #2284c0;
    --badge-execute-background-color: #7b47af;

    --note-icon-background-color: #4f4f4f;
    --note-icon-color: white;
    --note-icon-hover-background-color: #737373;

    --promoted-attribute-card-background-color: #00000014;
    --promoted-attribute-card-shadow: none;

    --floating-button-shadow-color: #00000042;
    --floating-button-background-color: #eaeaeacc;
    --floating-button-color: #454545;
    --floating-button-hover-background: #00000017;
    --floating-button-hover-color: black;
    --floating-button-show-button-background: var(--left-pane-item-action-button-background);
    --floating-button-show-button-color: var(--left-pane-item-action-button-color);
    --floating-button-show-button-shadow: none;
    --floating-button-show-button-hover-background: var(--left-pane-item-action-button-hover-background);
    --floating-button-show-button-hover-shadow: 0 2px 4px #00000068;
    --floating-button-hide-button-background: #0000000d;
    --floating-button-hide-button-color: gray;

    --new-tab-button-background: #d8d8d8;
    --new-tab-button-color: #3a3a3a;
    --new-tab-button-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    --new-tab-button-hover-background: white;
    --new-tab-button-hover-color: black;

    --right-pane-background-color: var(--main-background-color);
    --right-pane-background-color-bgfx: #ffffff9e; /* Only for the vertical layout */
    --right-pane-item-hover-background: #00000013;
    --right-pane-item-hover-color: inherit;

    --bottom-panel-background-color: #ffffff8c;
    --bottom-panel-title-bar-background-color: #94949414;

    --status-bar-border-color: #0000003a;

    --scrollbar-thumb-color: #0000005c;
    --scrollbar-thumb-hover-color: #00000066;
    --scrollbar-background-color: transparent;
    --scrollbar-border-color: unset; /* Deprecated */

    --selection-background-color: #3399FF70;

    --mermaid-theme: default;

    --code-block-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.2);

    --card-background-color: #0000000d;
    --card-background-hover-color: #0000001c;
    --card-border-color: transparent;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --card-box-shadow: none;

    --calendar-color: var(--menu-text-color);
    --calendar-weekday-labels-color: var(--muted-text-color);
    --calendar-day-hover-color: var(--hover-item-text-color);
    --calendar-day-hover-background: var(--active-item-background-color);
    --calendar-day-highlight-background: #80808024;

    --timeline-bullet-color: #a5a5a5;
    --timeline-bullet-hover-color: black;
    --timeline-connector-color: #f1f1f1;
    --timeline-connector-active-color: #ddd;
    --timeline-connector-hover-blend-mode: multiply;

    --tooltip-background-color: rgba(255, 255, 255, 0.85);
    --tooltip-foreground-color: #000000ba;
    --tooltip-shadow-color: rgba(0, 0, 0, 0.15);

    --help-background-color: #fffc;
    --help-card-background: var(--card-background-color);
    --help-card-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    --help-card-heading-color: #797979;
    --help-kbd-shortcut-color: #3f3f3f;
    --help-kbd-shortcut-background: white;
    --help-kbd-shortcut-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    --help-code-color: black;
    --help-code-background: #d7d5d5;

    --ck-editor-popup-border-color: var(--dropdown-border-color);
    --ck-editor-toolbar-button-on-background: #00000030;
    --ck-editor-toolbar-button-on-color: black;
    --ck-editor-toolbar-button-on-shadow: none;
    --ck-editor-toolbar-dropdown-button-open-background: #0000000f;

    --calendar-coll-event-background-lightness: 95%;
    --calendar-coll-event-background-saturation: 80%;
    --calendar-coll-event-background-color: #eaeaea;
    --calendar-coll-event-text-color: black;
    --calendar-coll-event-hover-filter: brightness(.95) saturate(1.25);
    --callendar-coll-event-archived-sripe-color: #0000000a;
    --calendar-coll-today-background-color: #00000006;
}

#left-pane .fancytree-node.tinted {
    --custom-color: var(--light-theme-custom-color);

    /* The background color of the active item in the note tree.
     * The --custom-color-hue variable contains the hue of the user-selected note color.
     * This value is unset for gray tones. */
    --custom-bg-color: hsl(var(--custom-color-hue), 37%, 89%, 1);
}

.quick-edit-dialog-wrapper.with-hue {
    --modal-background-color: hsl(var(--custom-color-hue), 56%, 96%);
    --modal-border-color: hsl(var(--custom-color-hue), 33%, 41%);
    --promoted-attribute-card-background-color: hsl(var(--custom-color-hue), 40%, 88%);
}

.note-split.with-hue,
.quick-edit-dialog-wrapper.with-hue {
    --note-icon-custom-background-color: hsl(var(--custom-color-hue), 44.5%, 43.1%);
    --note-icon-custom-color: hsl(var(--custom-color-hue), 91.3%, 91%);
    --note-icon-hover-custom-background-color: hsl(var(--custom-color-hue), 55.1%, 50.2%);
}

.note-split.with-hue *::selection,
.quick-edit-dialog-wrapper.with-hue *::selection {
    --selection-background-color: hsl(var(--custom-color-hue), 60%, 90%);
}