.component.breadcrumb {
    contain: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 0.25em;

    a {
        color: inherit;
        text-decoration: none;
    }
}
