.component.breadcrumb {
    contain: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 0.25em;
    flex-wrap: nowrap;
    overflow: hidden;

    a {
        color: inherit;
        text-decoration: none;
        width: 100%;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }

    ul {
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
