/* #region Generic floating buttons styles */
.floating-buttons {
    position: relative;
}

.floating-buttons-children,
.show-floating-buttons {
    position: absolute;
    top: var(--floating-buttons-vert-offset, 14px);
    inset-inline-end: var(--floating-buttons-horiz-offset, 10px);
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.note-split.rtl .floating-buttons-children,
.note-split.rtl .show-floating-buttons {
    inset-inline-end: 10px;
}

.note-split.rtl .close-floating-buttons {
    order: -1;
}

.note-split.rtl .close-floating-buttons,
.note-split.rtl .show-floating-buttons {
    transform: rotate(180deg);
}

.type-canvas {
    --floating-buttons-vert-offset: 70px;
}

.type-canvas .floating-buttons-children > * {
    --border-radius: 0; /* Overridden by themes */
}

.floating-buttons-children > *:not(.hidden-int):not(.no-content-hidden) {
    margin: 2px;
}

.floating-buttons-children > *:not(.has-overflow) {
    overflow: hidden;
}

.floating-buttons-children > button, .floating-buttons-children .floating-button {
    font-size: 150%;
    padding: 5px 10px 4px 10px;
    width: 40px;
    cursor: pointer;
    color: var(--button-text-color);
    background: var(--button-background-color);
    border-radius: var(--button-border-radius);
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

.floating-buttons-children > button:hover, .floating-buttons-children .floating-button:hover {
    text-decoration: none;
    border-color: var(--button-border-color);
}

.floating-buttons .floating-buttons-children.temporarily-hidden {
    display: none;
}
/* #endregion */

/* #region Show floating button */
.floating-buttons-children.temporarily-hidden+.show-floating-buttons {
    display: block;
}

.show-floating-buttons {
    /* display: none;*/
    margin-inline-start: 5px !important;
}

.show-floating-buttons-button {
    border: 1px solid transparent;
    color: var(--button-text-color);
    padding: 6px;
    border-radius: 100px !important;
}

.show-floating-buttons-button:hover {
    border: 1px solid var(--button-border-color);
}
/* #endregion */

/* #region Geo map buttons */
.leaflet-pane {
    z-index: 50;
}
/* #endregion */

/* #region Close floating buttons */
.close-floating-buttons {
    margin-inline-start: 5px !important;
}

.close-floating-buttons:first-child {
    display: none !important;
}

.close-floating-buttons-button {
    border: 1px solid transparent;
    color: var(--button-text-color);
    padding: 6px;
    border-radius: 100px;
}

.close-floating-buttons-button:hover {
    border: 1px solid var(--button-border-color);
}
/* #endregion */

/* #region Backlinks */
.backlinks-widget {
    position: relative;
}

.backlinks-ticker {
    border-radius: 10px;
    border-color: var(--main-border-color);
    background-color: var(--more-accented-background-color);
    padding: 4px 10px 4px 10px;
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backlinks-count {
    cursor: pointer;
}

.backlinks-items {
    z-index: 10;
    position: absolute;
    top: 50px;
    inset-inline-end: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--accented-background-color);
    color: var(--main-text-color);
    padding: 20px;
    overflow-y: auto;
}

.backlink-excerpt {
    border-inline-start: 2px solid var(--main-border-color);
    padding-inline-start: 10px;
    opacity: 80%;
    font-size: 90%;
}

.backlink-excerpt .backlink-link { /* the actual backlink */
    font-weight: bold;
    background-color: yellow;
}
/* #endregion */
