.note-status-bar {
    display: flex;
    align-items: center;
    padding-inline: 1em;

    .dropdown {
        font-size: 0.85em;

        .dropdown-toggle {
            padding: 0.1em 0.25em;
        }
    }
}
