.note-title-widget {
    flex-grow: 1000;
    height: 100%;
}

.note-title-widget input.note-title {
    font-size: 110%;
    border: 0;
    margin: 2px 0px;
    min-width: 5em;
    width: 100%;
    padding: 1px 12px;
}

.note-title-widget input.note-title[readonly] {
    background: inherit;
    outline: none;
}

.note-title-widget input.note-title.protected {
    text-shadow: 4px 4px 4px var(--muted-text-color);
}

body.mobile .note-title-widget input.note-title {
    padding: 0;
}

body.desktop .note-title-widget input.note-title {
    font-size: 180%;
}

body.experimental-feature-new-layout {
    .title-row,
    .title-details {
        max-width: var(--max-content-width);
    }

    .title-row {
        margin-top: 2em;
        margin-left: 12px;
    }

    .title-details {
        margin-top: 0;
        contain: none;
        padding: 0;
        padding-inline-start: 24px;
        opacity: 0.85;
        display: flex;
        gap: 0.25em;
        margin: 0;
        list-style-type: none;
        margin-bottom: 2em;

        span.value {
            font-weight: 500;
        }
    }

    .scrolling-container:has(> :is(.note-detail.full-height, .note-list-widget.full-height)) {
        .title-row,
        .title-details {
            width: 100%;
            max-width: unset;
        }

        .title-row {
            margin-top: 0;
        }

        .title-details {
            margin-bottom: 0.25em;
            padding-inline-start: 15px;
            opacity: 0.65;
        }
    }

    &.prefers-centered-content .title-row,
    &.prefers-centered-content .title-details {
        margin-inline: auto;
    }
}
