div.read-only-note-info-bar-widget {
    contain: none;
}

div.read-only-note-info-bar-widget.zen-mode-only {
    display: none;
    max-width: var(--max-content-width);
    margin: 0 auto;
}

div.read-only-note-info-bar-widget.zen-mode-only .info-bar {
    border-radius: 8px;
}

body.zen div.read-only-note-info-bar-widget.zen-mode-only {
    display: block;
}

.read-only-note-info-bar-widget-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

:root div.read-only-note-info-bar-widget button {
    white-space: nowrap;
    padding: 2px 8px;
}