body.zen div.read-only-note-info-bar-widget {
    width: fit-content;
    max-width: var(--max-content-width);
    border-radius: 8px;
    border: unset;
    margin: 0 auto 10px auto;
}

.read-only-note-info-bar-widget-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

:root div.read-only-note-info-bar-widget button {
    white-space: nowrap;
    padding: 2px 8px;
    flex-shrink: 0;
}