.sql-table-schemas-widget {
    padding: 12px;
    padding-right: 10%;
    contain: none !important;
}

.sql-table-schemas > .dropdown {
    display: inline-block !important;
}

.sql-table-schemas button.btn {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    background: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
}

.sql-console-result-container {
    width: 100%;
    font-size: smaller;
    margin-top: 10px;
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
}

.table-schema td {
    padding: 5px;
}

.dropdown .table-schema {
    font-family: var(--monospace-font-family);
    font-size: .85em;
}

/* Data type */
.dropdown .table-schema td:nth-child(2) {
    color: var(--muted-text-color);
}