@media print {
    html body {
        /* https://github.com/zadam/trilium/issues/3202 */
        color: black;
    }

    .no-print,
    .no-print * {
        display: none !important;
    }

    .relation-map-wrapper {
        height: 100vh !important;
    }

    .table thead th,
    .table td,
    .table th {
        /* Fix center vertical alignment of table cells */
        vertical-align: middle;
    }

    pre {
        box-shadow: unset !important;
        border: 0.75pt solid gray !important;
        border-radius: 2pt !important;
    }

    /* Fix visibility of checkbox checkmarks
       see https://github.com/TriliumNext/Notes/issues/901 */
    .ck-editor__editable.ck-content .todo-list .todo-list__label > span[contenteditable="false"] > input[checked]::after {
        /* fallback to default ck-editor green */
        border-color: hsl(126, 64%, 41%);
    }
}
