.no-print,
.no-print *,
.tab-row-container,
#launcher-pane,
#left-pane,
#right-pane,
.title-row .note-icon-widget,
.title-row .button-widget,
.ribbon-container,
.scroll-padding-widget,
.spacer {
    display: none !important;
}    

body,
#root-widget,
#rest-pane > div.component:first-child,
.note-detail-printable,
.note-detail-editable-text-editor {
    height: unset !important;
    overflow: auto;
}

.note-title-widget input,
.note-detail-editable-text,
.note-detail-editable-text-editor {
    padding: 0 !important;
}

html,
body {
    height: unset !important;
    overflow: visible;
    position: unset;
    /* https://github.com/zadam/trilium/issues/3202 */
    color: black;
}

#root-widget,
#horizontal-main-container,
#rest-pane,
#vertical-main-container,
#center-pane,
.split-note-container-widget,
.note-split:not(.hidden-ext) {
    display: block !important;
    overflow: auto;
}

#rest-pane,
.note-split {
    width: 100% !important;
    max-width: unset !important;
}

.component {
    contain: none !important;
}

/* Respect page breaks */
.page-break {
    page-break-after: always;
    break-after: always;
}

.page-break > * {
    display: none !important;
}

.relation-map-wrapper {
    height: 100vh !important;
}

.table thead th,
.table td,
.table th {
    /* Fix center vertical alignment of table cells */
    vertical-align: middle;
}

pre {
    box-shadow: unset !important;
    border: 0.75pt solid gray !important;
    border-radius: 2pt !important;
}

span[style] {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

/* Fix visibility of checkbox checkmarks
    see https://github.com/TriliumNext/Notes/issues/901 */
.ck-editor__editable.ck-content .todo-list .todo-list__label > span[contenteditable="false"] > input[checked]::after {
    /* fallback to default ck-editor green */
    border-color: hsl(126, 64%, 41%);
}