.tabulator-print-table table,
.tabulator-print-table th,
.tabulator-print-table tr,
.tabulator-print-table td {
    border: 1px solid black !important;
    border-collapse: collapse;
}

.tabulator-print-table th {
    background-color: #f0f0f0 !important;
}