section.donate {
    background: var(--background-color);
}

section.donate ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    padding: 0;
    flex-direction: column;
}

@media (min-width: 720px) {
    section.donate ul {
        gap: 0 1em;
        flex-direction: row;
    }
}
