entryPoints:
  web:
    address: ":8090"
    http:
      encodedCharacters:
        allowEncodedSlash: true
        allowEncodedHash: true

providers:
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

log:
  level: INFO
