.canvas-widget {
    height: 100%;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

/* Conflict between excalidraw and bootstrap classes keeps the menu hidden */
/* https://github.com/zadam/trilium/issues/3780 */
/* https://github.com/excalidraw/excalidraw/issues/6567 */
.excalidraw .dropdown-menu {
  display: block;
}

.excalidraw-wrapper {
  height: 100%;
}

:root[dir="ltr"]
.excalidraw
.layer-ui__wrapper
.zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}

/* collaboration not possible so hide the button */
.CollabButton {
  display: none !important;
}

.library-button {
  display: none !important; /* library won't work without extra support which isn't currently implemented */
}

.note-detail-canvas > .canvas-render {
  height: 100%;
}