body.experimental-feature-new-layout #right-pane {
    width: 300px;
    display: flex;
    flex-direction: column;

    .card {
        margin-inline: 0;
        border-bottom: 1px solid var(--main-border-color);
        border-radius: 0;

        .card-header {
            padding-block: 0.2em;

            .card-header-title {
                padding-inline: 0.5em;
            }
        }

        &:last-of-type {
            border-bottom: 0;
        }

        &.collapsed .card-header > .bx {
            transform: rotate(-90deg);
        }
    }

    .card:not(.collapsed) {
        flex-grow: 1;
    }

    .gutter-vertical + .card .card-header {
        padding-top: 0;
    }
}
