@import "ckeditor5/ckeditor5-content.css";

.printed-content .ck-widget__selection-handle, .printed-content .ck-widget__type-around { /* gets rid of triangles: https://github.com/zadam/trilium/issues/1129 */
    display: none;
}

.page-break {
    page-break-after: always;
}

.printed-content .page-break:after,
.printed-content .page-break > * {
    display: none !important;
}

.ck-content li p {
    margin: 0 !important;
}

.admonition {
    --accent-color: var(--card-border-color);
    border: 1px solid var(--accent-color);
    box-shadow: var(--card-box-shadow);
    background: var(--card-background-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1.25em 0;
    position: relative;
    overflow: hidden;
}

.admonition p:last-child {
    margin-bottom: 0;
}

.admonition p, h2 {
    margin-top: 0;
}

.admonition.note { --accent-color: #69c7ff; }
.admonition.tip { --accent-color: #40c025; }
.admonition.important { --accent-color: #9839f7; }
.admonition.caution { --accent-color: #ff2e2e; }
.admonition.warning { --accent-color: #e2aa03; }