.protected-session-password-component {
    width: 300px;
    margin: 30px auto auto;
}

.protected-session-password-component input,
.protected-session-password-component button {
    margin-top: 12px;
}