.bookmark-folder-widget {
    min-width: 400px;
    max-height: 500px;
    padding: 7px 15px 0 15px;
    font-size: 1.2rem;
    overflow: auto;
}

.bookmark-folder-widget ul {
    padding: 0;
    list-style-type: none;
}

.bookmark-folder-widget .note-link {
    display: block;
    padding: 5px 10px 5px 5px;
}

.bookmark-folder-widget .note-link:hover {
    background-color: var(--accented-background-color);
    text-decoration: none;
}

.dropdown-menu .bookmark-folder-widget a:hover:not(.disabled) {
    text-decoration: none;
    background-color: transparent !important;
}

.bookmark-folder-widget li .note-link {
    padding-inline-start: 35px;
}