/*
 * CKEDITOR
 */

/*
 * Toolbar
 */

.ck.ck-toolbar {
    --ck-color-toolbar-background: transparent;

    --ck-color-button-default-background: transparent;
    --ck-color-button-default-hover-background: var(--hover-item-background-color);
    --ck-color-button-default-disabled-background: transparent;

    --ck-color-button-on-background: transparent;
    --ck-color-button-on-hover-background: var(--hover-item-background-color);
    
    --ck-focus-ring: 1px solid var(--input-focus-outline-color);
    --ck-color-focus-border: var(--input-focus-outline-color);
    --ck-focus-outer-shadow: none;

    --ck-border-radius: 6px;
}

/* Disabled button */
:root .classic-toolbar-widget .ck.ck-button.ck-disabled {
    opacity: .75;
}

/* 
 * Dropdowns
 */

/* Dropdown body */
:root .ck.ck-dropdown__panel,
:root .ck-balloon-panel {
    --ck-editor-popup-padding: 4px;
    
    --ck-color-panel-background: var(--menu-background-color);
    --ck-color-panel-border: var(--ck-editor-popup-border-color);

    box-shadow: 0px 10px 20px rgba(0, 0, 0, var(--dropdown-shadow-opacity));
    outline: transparent !important;
    border: 1px solid var(--ck-editor-popup-border-color) !important;
    border-radius: var(--dropdown-border-radius) !important;
    background: var(--menu-background-color) !important;
    backdrop-filter: var(--dropdown-backdrop-filter);
    padding: var(--ck-editor-popup-padding);
}

:root ul.ck.ck-list,
:root div.ck.ck-balloon-panel:not(.ck-tooltip) {
    border: none;
    background: transparent;
}

/* Tooltip */
:root div.ck.ck-balloon-panel.ck-tooltip {
    --ck-color-panel-background: var(--toast-background); /* Arrow */
    border-color: transparent !important;
    border-radius: 6px !important;
    padding: 0 10px 2px 10px;
    background-color: var(--toast-background) !important;
}

:root div.ck.ck-balloon-panel.ck-tooltip * {
    color: var(--toast-text-color) !important;
}

/* Dropdown list item */
:root ul.ck.ck-list button.ck-button {
    padding: 2px 16px;
    background: transparent;
    border-radius: 6px !important;
    box-shadow: unset;
}

/* Checked list item */
:root ul.ck.ck-list button.ck-button.ck-on:not(:hover) {
    background: transparent !important;
}

:root ul.ck.ck-list button.ck-button:hover,
:root ul.ck.ck-list button.ck-button.ck-on:hover {
    background: var(--hover-item-background-color);
    color: var(--hover-item-color);
}

/* Separator */
:root .ck .ck-list__separator {
    margin: .5em 0;
    margin-left: calc(0px - var(--ck-editor-popup-padding));
    width: calc(100% + (var(--ck-editor-popup-padding) * 2));
    background: var(--menu-item-delimiter-color);
}

/* Color picker dropdown */

/* Color picker button */
:root .ck.ck-color-selector .ck-color-grids-fragment .ck-button.ck-color-selector__color-picker {
    --ck-color-base-border: transparent; /* Remove the top border */

    border-bottom-left-radius: var(--ck-border-radius);
    border-bottom-right-radius: var(--ck-border-radius);
}

/* Table dropdown */

.ck-insert-table-dropdown__grid {
    --ck-color-base-border: var(--ck-color-panel-border); /* Cell box color */
    --ck-color-focus-border: var(--hover-item-text-color); /* Selected cell box border color */
    --ck-color-focus-outer-shadow: var(--hover-item-background-color); /* Selected cell box background color */
    --ck-border-radius: 0;
}

/*
 * EDITOR'S CONTENT
 */

/*
 * Code Blocks 
 */

.attachment-content-wrapper pre,
.ck-content pre,
.ck-mermaid__editing-view {
    border: 0;
    border-radius: 6px;
    box-shadow: var(--code-block-box-shadow);
    padding: 0 !important;
    margin-top: 2px !important;
}

.ck-content pre {
    overflow: unset;
}

html .note-detail-editable-text :not(figure, .include-note, hr):first-child {
    /* Create some space for the top-side shadow */
    margin-top: 1px !important;
}

.ck.ck-editor__editable pre[data-language]::after {
    --ck-color-code-block-label-background: rgba(128, 128, 128, 0.5);
    border-radius: 0 0 5px 5px;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    font-weight: bold;
    top: 0;
}

.attachment-content-wrapper pre code,
.ck-content pre code,
.ck-mermaid__editing-view {
    display: block;
    padding: 1em !important;
    overflow: auto;
}

.ck-content pre code {
    --scrollbar-thumb-color: gray;
    --scrollbar-thumb-hover-color: gray;
}

.ck-content pre code::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    cursor: default;
}

.ck-content blockquote {
    background: var(--card-background-color);
    border: 1px solid var(--card-border-color) !important;
    box-shadow: var(--card-box-shadow);
    border-radius: 10px;
    padding: 1em 2.5em;
    position: relative;
    font-style: unset !important;
}

.ck-content blockquote p:last-of-type {
    margin-bottom: 0 !important;
}

.ck-content blockquote:before,
.ck-content blockquote:after {
    position: absolute;
    top: 0;
    font-size: 48px;
    opacity: 0.1;
}

.ck-content blockquote:before {
    content: "“";
    left: 0.2em;
}

.ck-content blockquote:after {
    content: "”";
    right: 0.35em;
}

.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
    font-weight: 300;
}

.ck-content hr {
    margin: 5px 0;
    height: 1px;
    background-color: var(--main-border-color);
    opacity: 1;
}

@media (screen) {
    .ck-content p code {
        border: 1px solid var(--card-border-color);
        box-shadow: var(--card-box-shadow);
        border-radius: 6px;
        background-color: var(--card-background-color);
    }
}

.note-detail-printable:not(.word-wrap) pre code {
    white-space: pre;
    margin-right: 1em;
}

.code-sample-wrapper .hljs {
    transition: background-color linear 100ms;
}

.ck-content .footnote-section {
    border: 0 !important;
    border-top: 1px solid var(--main-border-color) !important;
}

/* Table caption */

.ck-content .table > figcaption {
    background: var(--accented-background-color);
    color: var(--main-text-color);
}