:root .excalidraw {
    --ui-font: var(--main-font-family);


    /* Button hover background color */
    --button-hover-bg: var(--hover-item-background-color);
    --color-surface-high: var(--hover-item-background-color);


    --button-active-border: transparent;
    --color-brand-active: transparent;

    --color-surface-mid: transparent;
    --color-surface-low: transparent;

    /* Selected button icon fill color */
    --color-on-primary-container: var(--ck-editor-toolbar-button-on-color);
    --color-primary: var(--ck-editor-toolbar-button-on-color);

    /* Selected button icon background color */
    --color-surface-primary-container: var(--ck-editor-toolbar-button-on-background);
    --color-primary-light: var(--ck-editor-toolbar-button-on-background);

    --island-bg-color: var(--floating-button-background-color);

}

:root .type-canvas {
    --floating-buttons-vert-offset: 48px;
}

.excalidraw .Island:not(.App-menu__left),
.excalidraw .zoom-actions,
.undo-redo-buttons {
    box-shadow: 1px 1px 1px var(--floating-button-shadow-color);
    backdrop-filter: blur(10px) saturate(6);
}

:root .excalidraw .main-menu-trigger,
:root .excalidraw .sidebar-trigger,
:root .excalidraw .help-icon  {
    box-shadow: none;
}

/* Selected color outline */
:root .excalidraw .color-picker__button.active .color-picker__button-outline {
    box-shadow: 0 0 0 2px var(--input-focus-outline-color)
}

:root .excalidraw .buttonList label.active {
    border-color: transparent;
}

/* Options panel */

.excalidraw .Island.App-menu__left {
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;
    width: 13.2em;
}

body[dir=ltr] .excalidraw .Island.App-menu__left {
    right: 0;
}

body[dir=rtl] .excalidraw .Island.App-menu__left {
    left: 0;
}

:root .App-menu__left > .panelColumn {
    row-gap: 5px;
}

/* Options panel card */
:root .App-menu__left > .panelColumn > fieldset,
:root .App-menu__left > .panelColumn > label,
:root .App-menu__left > .panelColumn > div:has(> *) {
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 1px var(--floating-button-shadow-color);
    background: var(--floating-button-background-color);
    padding: 8px 12px;
    backdrop-filter: blur(10px) saturate(6);
}

/* Options panel card title */
:root .App-menu__left fieldset > legend,
:root .App-menu__left div > h3,
:root .App-menu__left > .panelColumn > label {
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: 1pt;
    color: var(--muted-text-color);
}

/* Options panel button bar */
:root .excalidraw .App-menu__left .buttonList {
    padding: 0;
}

/* Properties panel */

body[dir=ltr] .excalidraw .exc-stats {
    left: 0;
}

body[dir=ltr] .excalidraw .exc-stats {
    right: 0;
}