.ribbon-container {
    margin-bottom: 5px;
}

.ribbon-top-row {
    display: flex;
    min-height: 36px;
}

.ribbon-tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    flex-grow: 1;
    flex-flow: row wrap;
}

.ribbon-tab-title {
    color: var(--muted-text-color);
    border-bottom: 1px solid var(--main-border-color);
    min-width: 24px;
    flex-basis: 24px;
    max-width: max-content;
    flex-grow: 10;
    user-select: none;
}

.ribbon-tab-title .bx {
    font-size: 150%;
    position: relative;
    top: 3px;
}

.ribbon-tab-title.active {
    color: var(--main-text-color);
    border-bottom: 3px solid var(--main-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ribbon-tab-title:hover {
    cursor: pointer;
}

.ribbon-tab-title:hover {
    color: var(--main-text-color);
}

.ribbon-tab-title:first-of-type {
    padding-left: 10px;
}

.ribbon-tab-spacer {
    flex-basis: 0;
    min-width: 0;
    max-width: 35px;
    flex-grow: 1;
    border-bottom: 1px solid var(--main-border-color);
}

.ribbon-tab-spacer:last-of-type {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    max-width: 10000px;
}

.ribbon-button-container {
    display: flex;
    border-bottom: 1px solid var(--main-border-color);
    margin-right: 5px;
}

.ribbon-button-container > * {
    position: relative;
    top: -3px;
    margin-left: 10px;
}

.ribbon-body {
    border-bottom: 1px solid var(--main-border-color);
    margin-left: 10px;
    margin-right: 5px; /* needs to have this value so that the bottom border is the same width as the top one */
}

.ribbon-body.active {
    display: block;
}

.ribbon-tab-title.active .ribbon-tab-title-label {
    display: inline;
}

/* #region Basic Properties */

.basic-properties-widget {
    padding: 0px 12px 6px 12px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.basic-properties-widget > * {
    margin-top: 9px;
    margin-bottom: 2px;
}

.basic-properties-widget > * > :last-child {
    margin-right: 30px;
}

.note-type-container,
.editability-select-container,
.note-language-container {
    display: flex;
    align-items: center;
}

.note-type-dropdown {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.editability-dropdown {
    width: 300px;
}

/* #endregion */

/* #region Formatting Toolbar */

.classic-toolbar-widget {
    --ck-color-toolbar-background: transparent;
    --ck-color-button-default-background: transparent;
    --ck-color-button-default-disabled-background: transparent;
    min-height: 39px;
}

.classic-toolbar-widget .ck.ck-toolbar {
    border: none;
}

.classic-toolbar-widget .ck.ck-button.ck-disabled {
    opacity: 0.3;
}

/* #endregion */

/* #region Script Tab */
.script-runner-widget {
    padding: 12px;
    color: var(--muted-text-color);
}

.execute-description {
    margin-bottom: 10px;
}
/* #endregion */

/* #region Note info */
.note-info-widget {
    padding: 12px;
}

.note-info-widget-table {
    max-width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.note-info-widget-table td, .note-info-widget-table th {
    padding: 5px;
}

.note-info-mime {
    max-width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* #endregion */

/* #region Similar Notes */
.similar-notes-wrapper {
    max-height: 200px;
    overflow: auto;
    padding: 12px;
}

.similar-notes-wrapper a {
    display: inline-block;
    border: 1px dotted var(--main-border-color);
    border-radius: 20px;
    background-color: var(--accented-background-color);
    padding: 0 10px 0 10px;
    margin: 0 3px 0 3px;
    max-width: 10em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* #endregion */