/* #region Read-only code */
.note-detail-readonly-code {
    min-height: 50px;
    position: relative;
}
/* #endregion */

/* #region Editable code */
.note-detail-code {
    position: relative;
    height: 100%;
}

.note-detail-code-editor {
    min-height: 50px;
    height: 100%;
    padding: 0 !important;
}
/* #endregion */

/* #region Backend log */
.backend-log-editor-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .cm-editor {
        font-size: 0.85em;
    }
}
/* #endregion */
