.presentation-button-bar {
    position: absolute;
    top: 1em;
    right: 1em;

    .floating-buttons-children {
        top: 0;
    }
}

.presentation-container {
    width: 100%;
    height: 100%;
}
