.content-header-widget {
    position: relative;
    z-index: 8;
}

.content-header-widget.floating {
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: var(--main-background-color, #fff);
}
