.content-header-widget {
    position: relative;
    z-index: 8;
    background-color: var(--main-background-color);
}

.note-split.bgfx .content-header-widget {
    background-color: transparent;
}

.content-header-widget.floating {
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: var(--main-background-color, #fff) !important;
}
