.scrolling-container {
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}

.note-split.type-code:not(.mime-text-x-sqlite) {
    &> .scrolling-container {
        background-color: var(--code-background-color);
        --scrollbar-background-color: var(--main-background-color);
    }

    .inline-title,
    .title-actions {
        background-color: var(--main-background-color);
    }
}
