.download-button .platform {
    font-size: 0.75em;
    opacity: 0.75;
}

.download-button.big {
    padding: 1em 2em;
    margin: 1em 0;
}

@media (min-width: 720px) {
    .download-button {
        display: inline-block !important;
    }
}