header {
    padding: 1em;
    position: sticky;
    top: 0;
    background: var(--header-background-color);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);    
    z-index: 1000;
    --gap: 1.25em;
    font-size: 0.8em;
}

header .content-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: var(--gap);
}

header a.banner {
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: inherit;
}

header > .content-wrapper,
section.hero-section > .content-wrapper {
    min-width: 80vw;
}

header img {
    width: 32px;
    height: 32px;
}

header img+span {
    font-size: 1.3em;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap);
}

header nav a {
    text-decoration: none;
    color: inherit;
}

header nav a.active {
    font-weight: bold;
}

@media (max-width: 719px) {
    header .content-wrapper {
        display: block;
    }
    
    header .first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        align-self: stretch;
    }

    header .menu-toggle {
        color: inherit;
    }

    header nav {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms ease-in-out;        
    }

    header nav.mobile-shown {
        display: flex;
        max-height: 100vh;
        padding: 2em 0;
    }

    header nav a {
        font-size: 1.25em;
        padding: 0.5em 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    header nav a:last-of-type {
        border-bottom: unset;
    }

}

@media (min-width: 720px) {
    header {
        font-size: inherit;
    }

    header img {
        width: 48px;
        height: 48px;
    }
}