.geo-view {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.geo-map-container {
  height: 100%;
  overflow: hidden;
}

.leaflet-pane {
  z-index: 1;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 997;
}

.geo-view.placing-note .geo-map-container {
  cursor: crosshair;
}

.geo-map-container .marker-pin {
  position: relative;
}

.geo-map-container .leaflet-div-icon {
  position: relative;
  background: transparent;
  border: 0;
  overflow: visible;
}

.geo-map-container .leaflet-div-icon .icon-shadow {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  z-index: -1;
}

.geo-map-container .leaflet-div-icon .tn-icon {
  position: absolute;
  top: 3px;
  inset-inline-start: 2px;
  background-color: white;
  color: var(--light-theme-custom-color, black);
  padding: 2px;
  border-radius: 50%;
  font-size: 17px;
}

.geo-map-container .leaflet-div-icon .title-label {
  display: block;
  position: absolute;
  top: 100%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  height: 1rem;
  color: black;
  width: 100px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  white-space: no-wrap;
  overflow: hidden;
}

body[dir=rtl] .geo-map-container .leaflet-div-icon .title-label {
  transform: translateX(50%);
}

.geo-map-container .leaflet-div-icon .archived {
  opacity: 0.5;
}

.geo-map-container.dark .leaflet-div-icon .title-label {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
