.note-detail-editable-text {
    font-family: var(--detail-font-family);
    height: 100%;
}

/* Workaround for #1327 */
body.desktop.electron .note-detail-editable-text {
    letter-spacing: -0.01px;
}

body.mobile .note-detail-editable-text {
    padding-inline-start: 4px;
}

.note-detail-editable-text a:hover {
    cursor: pointer;
}

.note-detail-editable-text a[href^="http://"], .note-detail-editable-text a[href^="https://"] {
    cursor: text !important;
}

.note-detail-editable-text *:not(figure, .include-note, hr):first-child {
    margin-top: 0 !important;
}

.note-detail-editable-text h2 { font-size: 1.6em; }
.note-detail-editable-text h3 { font-size: 1.4em; }
.note-detail-editable-text h4 { font-size: 1.2em; }
.note-detail-editable-text h5 { font-size: 1.1em; }
.note-detail-editable-text h6 { font-size: 1.0em; }

body.heading-style-markdown .note-detail-editable-text h2::before { content: "##\2004"; color: var(--muted-text-color); }
body.heading-style-markdown .note-detail-editable-text h3::before { content: "###\2004"; color: var(--muted-text-color); }
body.heading-style-markdown .note-detail-editable-text h4:not(.include-note-title)::before { content: "####\2004"; color: var(--muted-text-color); }
body.heading-style-markdown .note-detail-editable-text h5::before { content: "#####\2004"; color: var(--muted-text-color); }
body.heading-style-markdown .note-detail-editable-text h6::before { content: "######\2004"; color: var(--muted-text-color); }

body.heading-style-underline .note-detail-editable-text h2 { border-bottom: 1px solid var(--main-border-color); }
body.heading-style-underline .note-detail-editable-text h3 { border-bottom: 1px solid var(--main-border-color); }
body.heading-style-underline .note-detail-editable-text h4:not(.include-note-title) { border-bottom: 1px solid var(--main-border-color); }
body.heading-style-underline .note-detail-editable-text h5 { border-bottom: 1px solid var(--main-border-color); }
body.heading-style-underline .note-detail-editable-text h6 { border-bottom: 1px solid var(--main-border-color); }

.note-detail-editable-text-editor {
    padding-top: 10px;
    border: 0 !important;
    box-shadow: none !important;
    min-height: 50px;
    height: 100%;
}

.note-detail-editable-text .ck.ck-editor__editable_inline {
    padding: 0;
}